body{
    background-color:rgba(0, 0, 0, 0.5);
    background-image: url('../public/Images/gym_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
};
