body{
    background-image: url(../No_Plastic_Gym/Images/gym_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
};